form { background: gray; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: white; border: none; padding: 10px; }

h1{
    text-align: center;
    padding: 20px;
    margin-left: 100px;
}


#messages{
    padding-top: 20px;
    padding-left: 5px;
    font-size: 17px;
    margin-top: -10px;
    margin-left: 7px;
}

canvas{
    position: fixed;
    margin-left: 55px;
}

h2{
    background: lightgray;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}



